.hero {
  position: relative;
  background-image: linear-gradient(to bottom, #e2e5ff, #bcc9f3);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(../assets/media/img/backgroundlines.png);
    background-size: 100% 80%;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &__wrap {
    padding: ($gutter * 2) 0;

    @include respond-to("xlarge") {
      margin-right: -$gutter * 2;
      margin-left: -$gutter * 2;
    }
  }

  &__col {
    @include respond-to("xlarge") {
      padding-right: $gutter * 2;
      padding-left: $gutter * 2;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
  }

  &__header {
    margin: 0;
    padding-bottom: $gutter;
    font-size: 50px;
    font-weight: 500;
    color: $jacksonsPurple;

    @include respond-to("medium") {
      font-size: 60px;
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
    padding-bottom: $gutter;
    font-size: 16px;

    @include respond-to("medium") {
      font-size: 20px;
    }
  }

  &__list-icon {
    max-height: 14px;
    margin-right: $gutter / 2;
  }

  &__cta {
    display: block;
    padding: 20px 0;
    background-image: linear-gradient(to bottom, #f79a11, #f8550f);
    border-radius: 5px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
  }

  &__graphph {
    display: none;

    @include respond-to("medium") {
      display: block;
    }
  }
}
